<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyautomation.mybar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBar">
        <activity android:name=".RegisterOrderAction"
            android:parentActivityName=".OrdersActivity"></activity>
        <activity android:name=".RegisterDrinkActivity" />
        <activity android:name=".RegisterTable" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderInfoActivity" />
    </application>

</manifest>